<div id="banner-home" class="background-specs">
  <div id="welcome-message">
    <h1 class="header-text">Welcome, New Detective</h1>
    <p>It’s been all over the news. There was a brutal stabbing with no evidence other than a police sketch based on the only witness’ description of the perp. You are the town’s newest detective, and this is your very first solo-case.</p>

    <p>You have a hunch as to who the escaped murderer is, only thing is you don’t have any evidence to back that claim up… yet. Use your sleuth and prowess to collect definitive proof he’s your guy and get out of there before he gets home. </p>

    <p> You only have 20 minutes before he discovers you snooping in his things and makes you his next victim.</p>
    <%= link_to "Hurry!", first_rooms_path, class: "link-hover" %>
  </div>
</div>
