<div id="second_page" class="background-specs">
  <div class="arrows-container">
    <div class="left-arrow-container">
      <%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, first_rooms_path %>
    </div>
    <div class="right-arrow-container">
      <%= link_to '<i class="fas fa-chevron-right"></i>'.html_safe, third_rooms_path %>
    </div>
  </div>
</div>
